.contact {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
    color: #f9eded;
    border: 1px solid #f9eded;
    border-radius: 6px;
}